In [29]:
import os
import pandas as pd
from datetime import datetime

# Question 1 batch.py updated

```bash
if __name__=="__main__":
    main(int(sys.argv[1]), int(sys.argv[2]))
```

# Question 2 pytest installed and tests folder created

To define a package and specify its boundaries

# Question 3

In [2]:
def dt(hour, minute, second=0):
    return datetime(2022, 1, 1, hour, minute, second)

In [3]:
data = [
(None, None, dt(1, 2), dt(1, 10)),
(1, None, dt(1, 2), dt(1, 10)),
(1, 2, dt(2, 2), dt(2, 3)),
(None, 1, dt(1, 2, 0), dt(1, 2, 50)),
(2, 3, dt(1, 2, 0), dt(1, 2, 59)),
(3, 4, dt(1, 2, 0), dt(2, 2, 1)),     
]

columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']
df = pd.DataFrame(data, columns=columns)

In [23]:
df.shape[0]

3

In [5]:
df

   PULocationID  DOLocationID tpep_pickup_datetime tpep_dropoff_datetime
0           NaN           NaN  2022-01-01 01:02:00   2022-01-01 01:10:00
1           1.0           NaN  2022-01-01 01:02:00   2022-01-01 01:10:00
2           1.0           2.0  2022-01-01 02:02:00   2022-01-01 02:03:00
3           NaN           1.0  2022-01-01 01:02:00   2022-01-01 01:02:50
4           2.0           3.0  2022-01-01 01:02:00   2022-01-01 01:02:59
5           3.0           4.0  2022-01-01 01:02:00   2022-01-01 02:02:01

In [6]:
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
df['duration'] = df.duration.dt.total_seconds() / 60

df = df[(df.duration >= 1) & (df.duration <= 60)].copy()
categorical = ['PULocationID', 'DOLocationID']
df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')

In [7]:
df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
1,1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
2,1,2,2022-01-01 02:02:00,2022-01-01 02:03:00,1.0

In [25]:
columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'duration']
expected_data = [
('-1', '-1', dt(1, 2), dt(1, 10), 8.0),
('1', '-1', dt(1, 2), dt(1, 10), 8.0),
('1', '2', dt(2, 2), dt(2, 3), 1.0),   
]
expected_output = pd.DataFrame(expected_data, columns=columns)
expected_output

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
1,1,-1,2022-01-01 01:02:00,2022-01-01 01:10:00,8.0
2,1,2,2022-01-01 02:02:00,2022-01-01 02:03:00,1.0

In [26]:
df.compare(expected_output)

Empty DataFrame
Columns: []
Index: []

# Based on the test dataset we drop 3 and keep 3 rows.
Answer is 3

# Question 4

--endpoint-url=http://localhost:456

# Question 5

aws --endpoint-url=http://localhost:4566 s3 ls s3://nyc-duration/in/

2023-07-14 15:24:13       3667 2022-01.parquet

Answer 3667

# Question 6

predicted mean duration: 10.502483457575869

sum of predicted mean duration: 31.507450372727607